.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
    border-radius: 8px;
}

main{
    height: 100%;
}

.product-img {
    width: 300px;
    height: 500px;
}

.info {
    width: 260px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    padding: 0 20px;
}

body,html {
    background-color: hsl(30, 38%, 92%);
    height: 100%;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
}

h3,p{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}

.discount {
    color: hsl(158, 36%, 37%);
    font-size: 36px;
    padding: 20px;
    font-family: 'Fraunces', serif;
}

.price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    padding: 20px;
}

button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    height: 42px;
    width: 80%;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.dp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    font-size: 14px;
}